body {
	background: #f8b195;
	background: -o-linear-gradient(bottom left, #f8b195 0%, #f67280 25%, #c06c84 50%, #6c5b7b 75%, #72519b 100%);
	background: -webkit-linear-gradient(bottom left, #f8b195 0%, #f67280 25%, #c06c84 50%, #6c5b7b 75%, #72519b 100%);
	background: linear-gradient(to top right, #f8b195 0%, #f67280 25%, #c06c84 50%, #6c5b7b 75%, #72519b 100%);
	color: #fff;
	cursor: default;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b195', endColorstr='#72519b',GradientType=1 );
	font-family: "BenderRegular";
	font-size: 25px;
}
a {
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	color:#fff;
	transition: .3s;
}
a:hover{
	background-size: 100% 2px;
	color:#fff;
	text-decoration: none;
}
.header {
	display: inline-flex;
	padding: 10px 0;
}
.header__title {
	font-family: "BenderBold";
	margin: 0 50px 0 0;
	padding: 5px 30px;
}
.header__menu{
	align-items: flex-end;
	display: inline-flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.header__menu_li{
	margin: 0 10px;
	padding: 5px 15px;
}

.sites {
	padding: 50px 0;
}
.sites__link {
    /*text-align: center;*/
}
.sites__link:hover .pop-up__title,
.pop-up__link:hover .pop-up__title {
    opacity: 1;
}
.sites__wrap {
	border-radius: 25px;
	margin-bottom: 30px;
	overflow: hidden; 
	position: relative;
	text-align: center;
	transition: .15s;
}
.sites__wrap:hover {
	transform: scale(1.1);
	transition: transform .5s;
	z-index: 1;
}
.sites__img {
	border-radius: 25px;
	width: 100%;
}
.sites__img_shadow {
	box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.7);
}
.sites__wrap_box-sh_right {
	box-shadow: 5px 0px 30px -5px rgba(0,0,0,0.7);
}
.sites__wrap_box-sh_left {
	box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.7);
}

.pop-up{
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.7);
	color: #000;
	left: 10%;
	opacity: 0;
	padding: 30px;
	width: 80%;
	z-index: 1;
    position: fixed;
    top: 100%;
    transform: scale(.5);
    transition: .55s opacity, .55s visibility;
    visibility: hidden;
}
.pop-up_show{
	opacity: 1;
	visibility: visible;
	z-index: 9999;
    animation: pop-up__block_show .8s both;
}
.pop-up_hide {
	opacity: 0;
	visibility: hidden;
	animation: pop-up__block_hide .8s both;
}
.pop-up a{
	color: #000;
}
.pop-up__top{
	display: flex;
	flex-wrap: flex;
}
.pop-up__left{
	border-radius: 25px;
	margin-right: 40px;
	text-align: center;
	width: 55%;
}
.pop-up__left img{
	margin-bottom: 10px;
}
.pop-up__img_wrap {
	position: relative;
	transition: .3s;
}
.pop-up__title {
	background-color: rgba(0,0,0,0.8);
	border-radius: 25px;
	color: #fff;
	display: inline-flex;
	left: 0;
	opacity: 0;
	padding: 18.5% 30%;
	position: absolute;
	right: 0;
	top: 0;
	transition: .3s;
}
.pop-up__text {
	font-size: 26px;
	margin: 0 5px;
	padding-bottom: 15px;
	text-align: center;
}
.pop-up__right{
}
.pop-up__bottom{}
.close-icon {
	cursor: pointer;
	height: 45px;
	opacity: 0.3;
	position: absolute;
	right: 5px;
	top:5px;
	transition: 0.3s;
	width: 45px;
}
.close-icon:hover {
	opacity: 1;
}
.external-link{
	height: 20px;
	margin: 0;
	width: 20px;
}
.overlay{
	background-color: #000;
	height: 100%;
	left: 0;
	opacity: 0.5;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: .8s;
	width: 100%;
	z-index: -1;
}
.overlay_show{
	opacity: .25;
	z-index: 999;
}
