@font-face {
	font-family:"BenderBold";
	src:url(../fonts/Bender/BenderBold/BenderBold.ttf);
	src:url(../fonts/Bender/BenderBold/BenderBold.eot);
	src:url(../fonts/Bender/BenderBold/BenderBold.woff);
}
@font-face {
	font-family:"BenderRegular";
	src:url(../fonts/Bender/BenderRegular/BenderRegular.ttf);
	src:url(../fonts/Bender/BenderRegular/BenderRegular.eot);
	src:url(../fonts/Bender/BenderRegular/BenderRegular.woff);
}