@keyframes sites__button_hide {
	0% {
		opacity: 1;
	}
	90% {
	}
	100% {
		display: none;
		opacity: 0;
	}
}
@keyframes sites__show {
	0% {
		margin-top: 100%;
		opacity: 0;
	}
	90% {
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}
}
@keyframes pop-up__block_show {
	0% {
	}
	75% {
		transform: scale(0.5);
	}
	100% {
		top:15%;
		transform: scale(1);
	}
}
@keyframes pop-up__block_hide {
	0% {
		top:15%;
		transform: scale(1);
	}
	25% {
		top:15%;
		transform: scale(0.5);
	}
	100% {
		top:100%;
	}
}
@keyframes pop-up__block_show_m {
	0% {
	}
	75% {
		transform: scale(0.5);
	}
	100% {
		top:5%;
		transform: scale(1);
	}
}
@keyframes pop-up__block_hide_m {
	0% {
		top:5%;
		transform: scale(1);
	}
	25% {
		top:5%;
		transform: scale(0.5);
	}
	100% {
		top:100%;
	}
}