@media (max-width: 576px) {
	.container{
		padding: 0 30px;
	}
}
@media (max-width: 767px) {
	.header__menu{
		display: none;
	}
	.pop-up p,
	.pop-up li{
		font-size: 16px;
	}
	.pop-up h2{
		font-size: 1.5rem;
	}
}
@media (max-width: 991px) {
	.sites .sites__cover{
		float: none;
		margin: 0;
		width: 100%;
	}
	.sites__cover:nth-child(odd) .sites__wrap_box-sh,
	.sites__cover:nth-child(even) .sites__wrap_box-sh {
		box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.7);
	}
	.pop-up {
		left: 5%;
		padding: 60px 15px;
		width: 90%;
	}
	.pop-up__top {
		display: inherit;
	}
	.pop-up__left{
		margin-bottom: 20px;
		margin-right: 0;
		width: 100%;
	}
	.pop-up__right{}
	.pop-up_show{
		animation: pop-up__block_show_m .8s both;
	}
	.pop-up_hide {
		animation: pop-up__block_hide_m .8s both;
	}
	.pop-up__title {
		display: none;
	}
}
@media (min-width: 1601px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1368px;
	}
}
@media (min-width: 2048px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1520px;
	}
}
@media (min-width: 4096px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 2868px;
	}
}