@import url(../css/fonts.css);
body {
	font-family: "Bitter-SemiBold";
}

a {
	color: #FFB242;
	font-size: 16px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

a:hover {
	text-decoration: none;
	text-shadow: none;
}

.header {
	padding-top: 10px;
	position: fixed;
	width: 100%;
	z-index: 99;
	-webkit-transition: 0.8s;
	transition: 0.8s;
	text-shadow: -1px 1px #000;
}

.header__background {
	background-color: rgba(0, 0, 0, 0.96);
	-webkit-box-shadow: inset 4px 0px 20px 0 #0f140a;
	        box-shadow: inset 4px 0px 20px 0 #0f140a;
	padding-top: 0;
}

.footer {
	background-color: rgba(0, 0, 0, 0.96);
	-webkit-box-shadow: inset 4px 0px 20px 0 #0f140a;
	        box-shadow: inset 4px 0px 20px 0 #0f140a;
}

.header__tel {
	text-align: center;
	position: absolute;
	margin: auto 0;
	top: 0;
	font-family: "Bitter-SemiBold";
	bottom: 0;
	left: 18%;
	height: 1.5rem;
}

.header__title {
	margin-bottom: 0.5rem;
	text-align: right;
}

.header__title h1 {
	color: #fff;
	font-size: 1.8rem;
	margin: 0;
	font-family: "Bitter-SemiBold";
}

.header__title p {
	font-family: "Bitter-Regular";
	color: #fff;
	margin: 0;
	line-height: 1;
}

.header__title span {
	font-size: 1.5rem;
	font-family: "Bitter-Regular";
}

.header__title a {
	color: #FFB242;
	font-size: 0.9rem;
}

.header a:hover {
	color: #fff;
}

.header hr {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 0 0 0.25rem 0;
}

.header__menu {
	padding: 0;
	text-align: center;
	margin: 0;
}

.header__menu_list {
	line-height: 1;
	list-style-type: none;
	padding: 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 0.25rem 0 0.5rem;
}

.header__menu_item {
	margin: 0px 30px;
}

.header__button {
	width: 30px;
	height: 30px;
	top: 0;
	bottom: 0;
	margin: auto 10px;
	position: absolute;
	cursor: pointer;
	display: inline-block;
}

.header__button span {
	background-color: #fff;
	position: absolute;
	border-radius: 2px;
	-webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
	transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
	width: 100%;
	height: 4px;
	-webkit-transition-duration: 500ms;
	        transition-duration: 500ms;
}

.header__button span:nth-child(1) {
	top: 0px;
	left: 0px;
}

.header__button span:nth-child(2) {
	top: 10px;
	left: 0px;
	opacity: 1;
}

.header__button span:nth-child(3) {
	top: 21px;
	left: 0px;
}

.header__button.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 13px;
}

.header__button.open span:nth-child(2) {
	opacity: 0;
}

.header__button.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	top: 13px;
}

.header__button_wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 1;
}

.header__button_hover {
	opacity: 0.9;
}

.header__bottom {
	display: none;
}

.social__link {
	float: left;
	margin-right: 20px;
}

.social__img_wrap {
	display: block;
}

.social__link:hover .social__img_whatsapp {
	color: #25D366;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.social__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.social__img {
	width: 25px;
	height: 25px;
	color: #FFB242;
}

.general-screen {
	background-image: url(../img/pexels-sora-shimazaki-5668473.webp);
	background-position: 0 0px;
	background-size: cover;
	-webkit-box-shadow: 0px 15px 15px -5px rgba(19, 24, 61, 0.8);
	        box-shadow: 0px 15px 15px -5px rgba(19, 24, 61, 0.8);
	padding: 123px 0 0;
	position: relative;
	height: 100vh;
	margin-bottom: 60px;
}

.general-screen__left {
	margin-bottom: 1.4rem;
	text-align: center;
	font-family: "Bitter-Regular";
}

.general-screen__right {
	margin-bottom: 1.4rem;
	text-align: center;
}

.general-screen__left p {
	color: #fff;
	font-size: 24px;
	margin-bottom: 10px;
}

.general-screen__left a {
	font-size: 16px;
}

.general-screen__left a:hover {
	color: #fff;
}

.general-screen__img_wrap {
	margin-top: 5%;
	margin-bottom: 30px;
}

.general-screen__img {
	border-radius: 10px;
	-webkit-box-shadow: 0 0px 15px -5px #0a0a0a;
	        box-shadow: 0 0px 15px -5px #0a0a0a;
	width: 100%;
}

.general-screen__text_wrap {
	color: #fff;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 0.5rem;
	margin-top: 5%;
	font-size: 3rem;
	padding: 20px;
	text-shadow: -6px 1px black;
}

.general-screen__text_wrap span {
	padding: 0 5px;
}

.general-screen__text_b {
	font-size: 2rem;
	margin-bottom: 0;
}

.general-screen__text_s {
	font-size: 1rem;
}

.general-screen__button {
	position: absolute;
	bottom: 5%;
	left: 33%;
	text-align: center;
}

.button_adv a {
	border-radius: 10px;
	-webkit-box-shadow: 0 0px 15px -5px #0a0a0a;
	        box-shadow: 0 0px 15px -5px #0a0a0a;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 10px;
	width: 260px;
}

.general-screen__button a {
	color: #000;
	font-weight: 700;
}

.about {
	padding-top: 80px;
}

.about h2 {
	margin-bottom: 1rem;
}

.about__card_s {
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 40px 20px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	font-family: "Bitter-Regular";
}

.about__card_s:hover, .about__card_b:hover {
	-webkit-box-shadow: 0 0px 15px -5px #0a0a0a;
	        box-shadow: 0 0px 15px -5px #0a0a0a;
}

.about__card_s_bold {
	font-family: "Bitter-SemiBold";
	font-size: 3rem;
}

.about__card_s p {
	font-family: "Bitter-Regular";
	font-size: 1.4rem;
}

.about__card_s span {
	font-size: 5rem;
}

.about__card_s_year {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.about__card_s_year p:first-child {
	font-size: 5rem;
	margin: 0;
}

.about__card_s_year p:last-child {
	margin-top: auto;
}

.about__card_b {
	border-radius: 10px;
	margin-bottom: 50px;
	padding: 30px 50px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	font-family: "Bitter-Regular";
}

.about__card_b_c {
	text-align: center;
}

.about__card_b_r {
	text-align: right;
}

.about__card_b_wrap {
	padding-top: 80px;
}

.about__card_s_wrap {
	text-align: center;
	height: 100%;
}

.about__card_b_img {
	margin-bottom: 80px;
	text-align: center;
}

.about__card_b_img img {
	height: 150px;
	max-width: 100%;
}

.services__item {
	background-image: url(../img/oriental-tiles.png);
	position: relative;
}

.first-call__wrap {
	background-image: url(../img/oriental-tiles.png);
	-webkit-box-shadow: 0px 0px 20px -5px rgba(10, 10, 10, 0.8);
	        box-shadow: 0px 0px 20px -5px rgba(10, 10, 10, 0.8);
	padding: 20px 0;
	position: relative;
}

.general-screen:after,
.services__item:after,
.first-call__wrap:after,
.price:after,
.difference:after,
.review:after,
.last-call__wrap:after,
.contact-card-m:after {
	background: #13183d;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0.75;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.general-screen:after {
	opacity: 0.25;
}

.difference:after {
	background: #FFB242;
	opacity: 0.8;
}

.price:after, .review:after {
	background: #F7C67F;
	opacity: 0.6;
}

.general-screen .container,
.first-call__wrap .container,
.difference .container,
.price .container,
.services__item_wrap,
.difference .container,
.review .container,
.last-call__wrap .container,
.contact-card-m .container {
	position: relative;
	z-index: 2;
}

.services__item:after {
	border-radius: 10px;
}

.first-call__text {
	color: #fff;
	font-size: 2rem;
	margin: 0;
}

.first-call__button {
	text-align: center;
	-webkit-transform: translate(0%, 50%);
	        transform: translate(0%, 50%);
}

.first-call__button a {
	color: #1A1A1A;
	color: #000;
}

.map {
	position: relative;
	z-index: 0;
	display: block;
}

.contact-card_wrap {
	position: relative;
}

.contact-card-d a:hover {
	color: #fff;
}

.contact-card-d {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.96);
	background-color: rgba(19, 24, 61, 0.95);
	border-radius: 10px;
	-webkit-box-shadow: 0 0px 15px -5px #0a0a0a;
	        box-shadow: 0 0px 15px -5px #0a0a0a;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 20px;
	position: absolute;
	right: 10%;
	width: 30%;
	top: 50px;
	z-index: 5;
}

.contact-card-m {
	background-image: url(../img/oriental-tiles.png);
	color: #fff;
	padding: 20px 0;
	position: relative;
}

.contact-card__title {
	margin-bottom: 0;
}

.contact-card__text {
	margin-bottom: 0.5rem;
	font-family: "Bitter-Regular";
}

.services {
	padding-top: 60px;
}

.services h2 {
	margin-bottom: 2rem;
}

.services__item {
	background-color: rgba(0, 0, 0, 0.96);
	border-radius: 10px;
	-webkit-box-shadow: 0 0px 10px -5px #0a0a0a;
	        box-shadow: 0 0px 10px -5px #0a0a0a;
	color: #fff;
	margin-bottom: 30px;
	padding: 20px;
}

.services__item_large p {
	line-height: 1;
	font-family: "Bitter-Regular";
}

.services__item_list {
	list-style-type: none;
	padding-left: 5px;
}

.services__item_list li {
	padding: 0px 0px 0 40px;
	font-family: "Bitter-Regular";
}

.services__item_list li:last-child {
	padding-bottom: 20px;
}

.services__item_list svg {
	color: #FFB242;
	margin-right: 20px;
	width: 18px;
	position: relative;
	float: left;
	top: 5px;
}

.services__item p {
	margin: 0;
}

.services__item_b_text_d {
	font-size: 2rem;
}

.services__item_b_text_m {
	display: none;
}

.services__item_button {
	text-align: center;
	color: #1a1a1a;
	-webkit-transform: translate(0%, 0%);
	        transform: translate(0%, 0%);
}

.services__item_button a {
	color: #1a1a1a;
	color: #000;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.services__item_button a:hover {
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
}

.services__item_button a:before {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFB242), color-stop(#FFB242), color-stop(#FFB242), color-stop(#F9E6C9), color-stop(#FFB242), color-stop(#FFB242), color-stop(#FFB242), color-stop(#F9E6C9), to(#FFB242));
	background: linear-gradient(#FFB242, #FFB242, #FFB242, #F9E6C9, #FFB242, #FFB242, #FFB242, #F9E6C9, #FFB242);
	background-position: 0 0;
	-webkit-animation: background 2s infinite alternate;
	        animation: background 2s infinite alternate;
	content: "";
	position: absolute;
	width: 100%;
	height: 550%;
	top: -210%;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	left: 0%;
	z-index: -1;
}

.price {
	position: relative;
	background-image: url(../img/inverse-tiles.jpg);
	-webkit-box-shadow: 0 0px 15px -5px #0a0a0a;
	        box-shadow: 0 0px 15px -5px #0a0a0a;
	padding: 20px;
}

.price__wrap {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0px 10px -5px #0a0a0a;
	        box-shadow: 0 0px 10px -5px #0a0a0a;
}

.price h2 {
	margin-bottom: 0;
	padding: 10px 0 5px;
	font-size: 1.8rem;
}

.difference {
	background-image: url(../img/fancy_deboss.png);
	-webkit-box-shadow: 0 0px 15px -5px #0a0a0a;
	        box-shadow: 0 0px 15px -5px #0a0a0a;
	margin-top: 40px;
	padding: 40px 0 20px;
	position: relative;
}

.difference h2 {
	margin-bottom: 0;
}

.difference span {
	-webkit-box-shadow: inset 0px 11px 6px -11px #0a0a0a;
	        box-shadow: inset 0px 11px 6px -11px #0a0a0a;
	z-index: 1;
	position: relative;
	background-color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px 20px;
}

.difference__item_first {
	margin: 0 !important;
	z-index: 1;
	border-top-left-radius: 0 !important;
}

.difference__item {
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0 0px 10px -5px #0a0a0a;
	        box-shadow: 0 0px 10px -5px #0a0a0a;
	padding: 20px 40px;
	list-style-type: none;
}

.difference__item li {
	padding: 15px 40px;
}

.difference__item svg {
	color: #212529;
	margin-right: 20px;
	width: 18px;
	float: left;
	top: 22px;
	position: relative;
}

.difference__item h3 {
	margin-bottom: 1rem;
}

.review {
	background-image: url(../img/inverse-tiles.jpg);
	color: #1a1a1a;
	padding: 30px 0;
	margin-top: 60px;
	-webkit-box-shadow: 0 0px 15px -5px #0a0a0a;
	        box-shadow: 0 0px 15px -5px #0a0a0a;
	position: relative;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	display: -webkit-inline-box;
}

.carousel-inner {
	margin: 20px 0;
}

.review h2 {
	padding-bottom: 10px;
	color: #1a1a1a;
}

.review h2 span {
	-webkit-box-shadow: 0 0px 15px -5px #0a0a0a;
	        box-shadow: 0 0px 15px -5px #0a0a0a;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 20px;
}

.review__img {
	width: 100%;
	max-width: 150px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.review__text {
	padding: 15px;
	margin-left: 4%;
	padding-left: 8%;
	margin-bottom: 0;
	font-family: "Bitter-Regular";
	text-align: center;
	font-style: italic;
}

.review__img_text {
	margin: 0;
	font-family: "Bitter-Regular";
	text-align: center;
	font-size: 18px;
	font-style: italic;
}

.last-call__wrap {
	background-image: url(../img/oriental-tiles.png);
	color: #fff;
	padding: 30px 0;
	position: relative;
}

.review__wrap {
	margin: auto 15%;
	-webkit-box-shadow: 0px 0px 20px -5px rgba(10, 10, 10, 0.8);
	        box-shadow: 0px 0px 20px -5px rgba(10, 10, 10, 0.8);
	background: #fff;
	padding: 20px;
	color: #1a1a1a;
	border-radius: 10px;
}

.review__social {
	-webkit-box-shadow: 0px 0px 20px -5px rgba(10, 10, 10, 0.8);
	        box-shadow: 0px 0px 20px -5px rgba(10, 10, 10, 0.8);
	background: #fff;
	padding: 20px;
	color: #1a1a1a;
	border-radius: 10px;
}

.review__social_text {
	font-size: 2rem;
}

.review__social__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	padding: 0;
}

.review__social__list_item {
	margin: 0 25px;
}

.review__social__list_item:last-child {
	margin: 0px;
}

.review__social__img_wrap {
	display: block;
}

.review__social__img {
	width: 50px;
	height: 50px;
	color: #000;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.review__social__img:hover {
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
}

.review__social__img_yanedex {
	width: 200px;
}

.review__social__img_2gis {
	width: 200px;
}

.last-call p {
	margin-bottom: 0;
	line-height: 1;
}

.last-call__text_s {
	font-family: "Bitter-Regular";
}

.last-call__text_b {
	margin-top: 0.5rem;
	font-size: 1.5rem;
}

.last-call__button {
	text-align: center;
}

.last-call__button a {
	background-color: #fff;
	color: #1a1a1a;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.last-call__button a:hover {
	-webkit-box-shadow: inset 0px 0px 10px 0 black;
	        box-shadow: inset 0px 0px 10px 0 black;
}

.footer {
	color: #fff;
	padding: 5px 20px;
	text-align: right;
}

@-webkit-keyframes background {
	100% {
		background-position: 0 200px;
	}
}

@keyframes background {
	100% {
		background-position: 0 200px;
	}
}
.animation__button a:hover {
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
}

.animation__button a {
	position: relative;
	overflow: hidden;
}

.animation__button a:before {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFB242), color-stop(#FFB242), color-stop(#FFB242), color-stop(#F9E6C9), color-stop(#FFB242), color-stop(#FFB242), color-stop(#FFB242), color-stop(#F9E6C9), to(#FFB242));
	background: linear-gradient(#FFB242, #FFB242, #FFB242, #F9E6C9, #FFB242, #FFB242, #FFB242, #F9E6C9, #FFB242);
	background-position: 0 0;
	-webkit-animation: background 2s infinite alternate;
	        animation: background 2s infinite alternate;
	content: "";
	position: absolute;
	width: 100%;
	height: 380%;
	top: -130%;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	left: 0%;
	z-index: -1;
}

/*media*/
@media (min-width: 576px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 98%;
	}
}
@media (min-width: 768px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 98%;
	}
}
@media (min-width: 992px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 98%;
	}
}
@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 98%;
	}
}
@media (min-width: 1500px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1400px;
	}
}
@media (min-width: 1900px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1600px;
	}
}
@media (max-width: 1370px) {
	.general-screen__text_wrap {
		font-size: 2.5rem;
	}
}
@media (max-width: 1260px) {
	.header .col-xl-4 {
		display: none;
	}

	.about__card_s span, .about__card_s_year p:first-child {
		font-size: 3.5rem;
	}

	.about__card_s p {
		font-size: 1.4rem;
	}
}
@media (max-width: 1069px) {
	.general-screen__text_wrap {
		font-size: 2.25rem;
	}

	.first-call__text {
		font-size: 1.5rem;
	}
}
@media (max-width: 991px) {
	.general-screen {
		height: auto;
	}

	.general-screen__text_wrap {
		margin-bottom: 5%;
	}

	.general-screen__button {
		position: inherit;
	}

	.general-screen__img {
		width: auto;
	}

	.general-screen .row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
	}

	.contact-card-d {
		display: none;
	}

	.first-call__text {
		font-size: 1.3rem;
	}

	.first-call__button {
		-webkit-transform: translate(0%, 0%);
		        transform: translate(0%, 0%);
	}

	.first-call__button a {
		width: 100%;
	}

	.about__card_b_c, .about__card_b_r {
		text-align: left;
	}

	.about__card_b_img img {
		max-height: 150px;
		height: auto;
	}

	.services__item_s {
		max-width: 535px;
		margin: 0 auto 30px;
	}

	.services__item_button a {
		width: 260px;
		margin-top: 15px;
	}

	.services__item_large {
		max-width: 680px;
		margin: 0 auto;
	}

	.services__item_large p {
		padding: 20px;
	}

	.review__text {
		margin: 0;
		padding: 15px;
	}

	.last-call__button a {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.about__card_s {
		margin-bottom: 0;
	}

	.first-call__button, .last-call__button {
		margin-top: 15px;
		-webkit-transform: translate(0%, 0%);
		        transform: translate(0%, 0%);
	}

	.first-call__button a, .last-call__button a {
		width: 260px;
	}

	.services__item_large p {
		padding: 20px 0;
		line-height: 1.5;
	}
}
@media (max-width: 700px) {
	.header__menu_item {
		margin: 0 15px;
	}

	.header__title h1 {
		font-size: 1.5rem;
	}

	.header__title span {
		font-size: 1.3rem;
	}

	.services__item_b_text_d {
		font-size: 26px;
	}
}
@media (max-width: 610px) {
	.header__title h1 {
		font-size: 1.2rem;
	}

	.header__title span {
		font-size: 1rem;
	}

	.general-screen__img {
		width: 80%;
	}

	.general-screen__text_wrap {
		font-size: 1.8rem;
	}

	.about__card_s span, .about__card_s_year p:first-child {
		font-size: 2.5rem;
	}

	.review__social__img {
		width: 25px;
		height: 25px;
	}

	.review__social__img_yanedex {
		width: 100px;
	}

	.review__social__img_2gis {
		width: 100px;
	}
}
@media (max-width: 560px) {
	.header__menu {
		text-align: right;
	}

	.header__menu_list {
		display: block;
	}

	.header__menu_item {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		margin-bottom: 10px;
	}

	.services__item_b_text_d {
		font-size: 24px;
	}

	.review__text {
		font-size: 14px;
	}
}
@media (max-width: 460px) {
	.header__title h1 {
		font-size: 1rem;
	}

	.header__title span, .header__title p {
		font-size: 14px;
	}

	.general-screen__text_wrap {
		font-size: 1.4rem;
	}

	.first-call__text {
		font-size: 18px;
	}

	.about__card_s p {
		font-size: 1.2rem;
	}

	.services__item_b_text_d {
		font-size: 19px;
	}
}
.delay1 {
	-moz-animation-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-animation-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
	animation-delay: 0.1s;
	transition-delay: 0.1s;
}

.delay2 {
	-moz-animation-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	animation-delay: 0.2s;
	transition-delay: 0.2s;
}

.delay3 {
	-moz-animation-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	animation-delay: 0.3s;
	transition-delay: 0.3s;
}

.delay4 {
	-moz-animation-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	-webkit-transition-delay: 0.4s;
	animation-delay: 0.4s;
	transition-delay: 0.4s;
}

.delay8 {
	-moz-animation-delay: 0.8s;
	-moz-transition-delay: 0.8s;
	-o-animation-delay: 0.8s;
	-o-transition-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
	-webkit-transition-delay: 0.8s;
	animation-delay: 0.8s;
	transition-delay: 0.8s;
}

.delay12 {
	-moz-animation-delay: 1.2s;
	-moz-transition-delay: 1.2s;
	-o-animation-delay: 1.2s;
	-o-transition-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-webkit-transition-delay: 1.2s;
	animation-delay: 1.2s;
	transition-delay: 1.2s;
}

.ymaps-2-1-78-copyright__link, .ymaps-2-1-78-gototech, .ymaps-2-1-78-controls__control_toolbar {
	display: none !important;
}