@font-face {
	font-family:"Molot";
	src:url(../fonts/Molot.otf);
	/*src:url(../fonts///.ttf);*/
	/*src:url(../fonts///.eot);*/
	/*src:url(../fonts///.woff);*/
}
@font-face {
	font-family:"Bitter-SemiBold";
	src:url(../fonts/Bitter/Bitter-SemiBold.ttf);
	/*src:url(../fonts///.ttf);*/
	/*src:url(../fonts///.eot);*/
	/*src:url(../fonts///.woff);*/
}
@font-face {
	font-family:"Bitter-Regular";
	src:url(../fonts/Bitter/Bitter-Regular.ttf);
	/*src:url(../fonts///.ttf);*/
	/*src:url(../fonts///.eot);*/
	/*src:url(../fonts///.woff);*/
}
@font-face {
	font-family:"YesevaOne-Regular";
	src:url(../fonts/Yeseva_One/YesevaOne-Regular.ttf);
	/*src:url(../fonts///.ttf);*/
	/*src:url(../fonts///.eot);*/
	/*src:url(../fonts///.woff);*/
}
@font-face {
	font-family:"Forum-Regular";
	src:url(../fonts/Forum/Forum-Regular.ttf);
	/*src:url(../fonts///.ttf);*/
	/*src:url(../fonts///.eot);*/
	/*src:url(../fonts///.woff);*/
}