*,*:before,*:after{
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,body {background-color: #000;height: 100%;}
a{}
a:hover{}
.wrapper{
	opacity: 0;
	overflow: hidden;
	transition: 1s;
}
.wrapper.active{
	opacity: 1;
}
.wrapper.active .parallax__wave{
	opacity: 1;
	transition: all 1s ease 1s;
}
.wrapper.active .parallax__rope{
	opacity: 1;
	transition: all 1s ease 1.8s;
}
.wrapper.active .parallax__ship{
	right: 8%;
	transition: all 3s ease 2.5s;
}
.page{
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	min-height: 360px;
	position: absolute;
	top: 0;
	width: 100%;
}
.parallax{
	flex: 1 0 100%;
	overflow: hidden;
	position: relative;
}
.parallax:after{
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%);
	bottom: 0;
	content: '';
	height: 100px;
	position: absolute;
	width: 100%;
}
.parallax__list{
	height: 100%;
	left: 0;
	list-style-type: none;
	position: absolute;
	top: 0;
	width: 100%;
}
.parallax__list li{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.parallax__bg{
	background-image: url('../img/background.jpg');
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 110%;
	left: -5%;
	position: absolute;
	top: -5%;
	width: 110%;
}
.parallax__rope{
	left: -10%;
	opacity: 0;
	position: absolute;
	width: 120%;
}
.parallax__rope img{
	width: 100%;
}
.parallax__rope_1{
	top: 5%;
	transform: scale(1);
}
.parallax__rope_2{
	top: -1.66667%;
	transform: scale(1.05556);
}
.parallax__rope_3{
	top: -11.66667%;
	transform: scale(1.13889);
}
.parallax__rope_1 .parallax__element{
	transform: scale(.6);
}
.parallax__rope_2 .parallax__element{
	transform: scale(0.75556);
}
.parallax__rope_3 .parallax__element{
	transform: scale(0.98889);
}
.parallax__element{
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
} 
.parallax__element span{
	animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	display: inline-block;
	height: 280px;
	margin: 0 0 0 -140px;
	transform-origin: 50% 0;
	width: 280px;
} 
.parallax__element_1{
	left: 20%;
	top: 24%;
}
.parallax__element_1 span{
	background-image: url('../img/clouds/board-cloud-2.png');
}
.parallax__element_2{
	left: 40%;
	top: 42%;
}
.parallax__element_2 span{
	background-image: url('../img/clouds/board-cloud-1.png');
}
.parallax__element_3{
	left: 80%;
	top: 20%;
}
.parallax__element_3 span{
	background-image: url('../img/clouds/board-birds.png');
}
.parallax__element_4{
	left: 10%;
	top: 14%;
}
.parallax__element_4 span{
	background-image: url('../img/clouds/board-cloud-1.png');
}
.parallax__element_5{
	left: 50%;
	top: 54%;
}
.parallax__element_5 span{
	background-image: url('../img/clouds/board-cloud-4.png');
}
.parallax__element_6{
	left: 30%;
	top: 58%;
}
.parallax__element_6 span{
	background-image: url('../img/clouds/board-birds.png');
}
.parallax__element_7{
	left: 60%;
	top: 65%;
}
.parallax__element_7 span{
	background-image: url('../img/clouds/board-cloud-2.png');
}
.parallax__element_8{
	left: 80%;
	top: 45%;
}
.parallax__element_8 span{
	background-image: url('../img/clouds/board-cloud-3.png');
}
.parallax__wave{
	background-image: url('../img/waves/wave-plain.png');
	background-position: 0 0;
	background-repeat: repeat-x;
	background-size: auto 101%;
	left: -100%;
	opacity: 0;
	position: absolute;
	width: 300%;
}
.parallax__wave_1{
	animation: wave 7.11111s 0.1s infinite linear;
	background-image: url('../img/waves/wave-paint.png');
	bottom: 180px;
	height: 86px;
}
.parallax__wave_2{
	animation: wave 6.66667s 0.1s infinite linear;
	bottom: 144px;
	height: 115px;
}
.parallax__wave_3{
	animation: wave 6.22222s 0.1s infinite linear;
	background-image: url('../img/waves/wave-paint.png');
	bottom: 108px;
	height: 144px;
}
.parallax__wave_4{
	animation: wave 5.77778s 0.1s infinite linear;
	bottom: 72px;
	height: 173px;
}
.parallax__wave_5{
	animation: wave 4.8888s 0.1s infinite linear;
	bottom: -1px;
	height: 230px;
}
.parallax__wave_6{
	animation: wave 4.5s 0.1s infinite linear;
	background-image: url('../img/waves/wave-paint.png');
	bottom: -72px;
	height: 288px;
}
.parallax__ship{
	animation: ship 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	background-image: url('../img/ship1.png');
	background-position: 0 0;
	background-repeat: repeat-x;
	background-size: auto 101%;
	bottom: 125px;
	height: 483px;
	position: absolute;
	right: -30%;
	width: 443px;
}

@keyframes swing{
	0%{transform: rotateZ(10deg);}
	100%{transform: rotateZ(-10deg);}
}
@keyframes wave{
	0%{transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);}
	100%{transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);}
}
@keyframes ship{
	0%{transform: translate3d(10%, 0, 0) rotateZ(15deg);}
	100%{transform:translate3d(-10%, 0, 0) rotateZ(-1deg);}
}