@import url(../css/fonts.css);
body {
	background-color: #c7ffff;
	color: #FFF96B;
}
a:hover{
	color: #FFF96B;
	text-decoration: none;
}
.telefone{
	margin: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	width: 292px;
}
.telefone__wrap{
	display: block;
	position: relative;
	z-index: 999;
}
.telefone__link{}
.telefone__num_wrap{
	background-color: #f9f9f9;
	border-radius: 50px;
	box-shadow: 0 0 5px -2px #fefefe;
	cursor: pointer;
	display: flex;
	padding: 10px 20px;
	position: relative;
	transition: .3s;
	z-index: 99;
}
.telefone__num {
	color: #1F1E1C;
	margin: auto 15px;
	position: relative;
	z-index: 100;

}
.telefone__img{
	background-color: #1F1E1C;
	border-radius: 100%;
	fill: #FFF96B;
	background-clip: border-box;
	overflow: visible;
	height: 50px;
	width: 50px;
	padding: 10px;
	position: relative;
	z-index: 101;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
/*	-webkit-animation-delay: 0.5s;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	animation-delay: 0.5s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: pulse;*/
	box-shadow: 0 0 0 10px rgba(31, 30, 28, 0);
	/*filter: drop-shadow(0 0 0 10px rgba(31, 30, 28, 0));*/
}
.button_run_right{
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-name: button_run_right;
	animation-delay: 0s;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-name: button_run_right;
}
.tel_run_left {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: tel_run_left;
}
.button_run_left{
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-name: button_run_left;
	animation-delay: 0s;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-name: button_run_left;
}
.tel_run_right {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: tel_run_right;
}
@keyframes button_run_right {
	0%{left: 0%;transform: rotate(0deg);}
	50%{transform: rotate(-135deg);}
	100%{left: 80%;transform: rotate(-90deg);}
}
@-webkit-keyframes button_run_right {
	0%{left: 0%;transform: rotate(0deg);}
	50%{transform: rotate(-135deg);}
	100%{left: 80%;transform: rotate(-90deg);}
}
@keyframes tel_run_left {
	0%{right: 0px;}
	40%{right: 0px;}
	100%{right: 50px;}
}
@keyframes button_run_left {
	0%{left: 80%;transform: rotate(-90deg);}
	50%{transform: rotate(45deg);}
	100%{left: 0%;transform: rotate(0deg);}
}
@-webkit-keyframes button_run_left {
	0%{left: 80%;transform: rotate(-90deg);}
	50%{transform: rotate(45deg);}
	100%{left: 0%;transform: rotate(0deg);}
}
@keyframes tel_run_right {
	0%{right: 50px;}
	60%{right: 0px;}
	100%{right: 0px;}
}
@keyframes pulse {
	0% {transform: scale(0.95);box-shadow: 0 0 0 0 rgba(31, 30, 28, 0.7);-webkit-box-shadow: 0 0 0 0 rgba(31, 30, 28, 0.7);-moz-box-shadow: 0 0 0 0 rgba(31, 30, 28, 0.7);}
	70% {transform: scale(1);box-shadow: 0 0 0 10px rgba(31, 30, 28, 0);-webkit-box-shadow: 0 0 0 10px rgba(31, 30, 28, 0);-moz-box-shadow: 0 0 0 10px rgba(31, 30, 28, 0);}
	100% {transform: scale(0.95);box-shadow: 0 0 0 0 rgba(31, 30, 28, 0);-webkit-box-shadow: 0 0 0 0 rgba(31, 30, 28, 0);-moz-box-shadow: 0 0 0 0 rgba(31, 30, 28, 0);}
}
@-webkit-keyframes pulse {
	0% {transform: scale(0.95);box-shadow: 0 0 0 0 rgba(31, 30, 28, 0.7);-webkit-box-shadow: 0 0 0 0 rgba(31, 30, 28, 0.7);-moz-box-shadow: 0 0 0 0 rgba(31, 30, 28, 0.7);}
	70% {transform: scale(1);box-shadow: 0 0 0 10px rgba(31, 30, 28, 0);-webkit-box-shadow: 0 0 0 10px rgba(31, 30, 28, 0);-moz-box-shadow: 0 0 0 10px rgba(31, 30, 28, 0);}
	100% {transform: scale(0.95);box-shadow: 0 0 0 0 rgba(31, 30, 28, 0);-webkit-box-shadow: 0 0 0 0 rgba(31, 30, 28, 0);-moz-box-shadow: 0 0 0 0 rgba(31, 30, 28, 0);}
}