@import url(../css/fonts.css);
body{}
a {
	color: #F7C67F;
	font-size: 0.9rem;
	transition: .3s;
}
a:hover {text-decoration: none;}
.header, .footer{
	/*background-color: rgba(0, 0, 0, .96);*/
	background-color: #1a1a1a;
	box-shadow: inset 4px 0px 20px 0 rgb(0 0 0);
}
.header__tel_wrap{
	bottom: 0;
	margin-bottom: 0.5rem;
	position: absolute;
	right: 0;
	text-align: right;
}
.header__tel{}
.header__title{
	margin-bottom: 0.5rem;
	text-align: right;
}
.header__title h1{
	color: #fff;
	font-size: 1.8rem;
	margin: 0;
}
.header__title span{
	font-size: 1.5rem;
	font-weight: 100;
}
.header__title a{
	color: #F7C67F;
	font-size: 0.9rem;
}
.header a:hover {color: #fff;}
.header hr {
	background-color: #fff;
}

.header__button{width: 30px;height: 30px;top: 0;bottom: 0;margin: auto 10px;position: absolute;cursor: pointer;display: inline-block;}
.header__button span{background-color:#fff;position: absolute;border-radius: 2px;transition: .3s cubic-bezier(.8, .5, .2, 1.4);width:100%;height: 4px;transition-duration: 500ms;}
.header__button span:nth-child(1){top:0px;left: 0px;}
.header__button span:nth-child(2){top:10px;left: 0px;opacity:1;}
.header__button span:nth-child(3){top:21px;left: 0px;}
.header__button.open span:nth-child(1){transform: rotate(45deg);top: 13px;}
.header__button.open span:nth-child(2){opacity:0;}
.header__button.open span:nth-child(3){transform: rotate(-45deg);top: 13px;}
.header__button_wrap{display: flex;opacity: 1;}
.header__button_hover{opacity: 0.9;}
.menu{padding: 0;text-align: center;}
.menu__list{list-style-type: none; padding: 0; display: inline-flex;}
.menu__item{margin: 0px 30px;}
.header__bottom {display: none;}











.sosial__link{ float: left; margin-right: 20px; }

.social__img_wrap{display: block;}
.sosial__link:hover .social__img_whatsapp{color: #25D366;transition: .3s;}

.social__wrap{}
.social__list{list-style-type: none;margin: 0;padding: 0;}
.sosial__list_item {}
.social__img{width: 25px;height: 25px; color: #F7C67F;}


.general-screen{
	background-image: url(../img/pexels-sora-shimazaki-5668473.webp);
	background-position: 0 -120px;
	background-size: cover;
	box-shadow: 0px 15px 15px -5px rgba(10, 10, 10, 0.8);
	padding: 40px 0 0;
	position: relative;
}
.general-screen:after{
	background: black;
	bottom: 0;
	content: '';
	left: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.general-screen .container{
	position: relative;
	z-index: 2;
}
.general-screen__left,.general-screen__right {
	margin-bottom: 1.4rem;
	text-align: center;
}
.general-screen__left p{
	color: #fff;
	margin: 0;
}
.general-screen__left a:hover{
	color: #fff;
}
.general-screen__img_wrap {
	margin-bottom: 1rem;
}
.general-screen__img {
	border-radius: 10px;
	box-shadow: 0 0px 15px -5px rgb(10 10 10);
	width: 75%;
}
.general-screen__text {
	color: #fff;
	display: inline-block;
	font-size: 3.4rem;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 0.5rem;
	margin-top: 5rem;
	padding: 20px;
}
.general-screen__button {
	margin: 2.5rem 0;

}
.button_adv a {
	border-radius: 10px;
	box-shadow: 0 0px 15px -5px rgb(10 10 10);
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 600;	
	padding: 10px;
	width: 260px;
}
.general-screen__button a {
	/*background-color: #F7C67F;*/
	color: #1A1A1A;
	font-weight: 700;
}

.about {
	padding-top: 60px;
}
.about h2{}
.about__card_s {
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 40px 20px;
	transition: .3s;
}
.about__card_s:hover,.about__card_b:hover {
	box-shadow: 0 0px 15px -5px rgb(10 10 10);
}
.about__card_s p{
	font-size: 1.8rem;
}
.about__card_s span{
	font-size: 5rem;
}
.about__card_s span p{}
.about__card_s_year{
	display: inline-flex;
}
.about__card_s_year p:first-child{
	font-size: 5rem;
	margin: 0;	
}
.about__card_s_year p:last-child{
	margin-top: auto;
}
.about__card_b {
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 30px 50px;
	transition: .3s;
}

.about__card_b_wrap {
	/*background-color: #F7C67F;*/
	/*background-image: url(../img/double-bubble-outline.png);*/
	/*box-shadow: 0px 19px 25px 5px rgba(10, 10, 10, .8);*/
	/*position: relative;*/
	padding-top: 30px;
}
/*.about__card_b_wrap:after{
	background: #F7C67F;
	bottom: 0;
	content: '';
	left: 0;
	opacity: 0.7;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.about__card_b_wrap .container {
	position: relative;
	z-index: 2;
}*/

.about__card_s_wrap {
	text-align: center;
}
.about__card_b_img{
	margin-bottom: 40px;
	text-align: center;
}
.about__card_b_img img{
	height: 150px;
}
.first-call__wrap {
	background-image: url(../img/dark_geometric.png);
	box-shadow: 0px 0px 20px -5px rgba(10, 10, 10, 0.8);
	padding: 20px 0;
	position: relative;
}
.first-call__wrap:after{
	/*background: #F7C67F;*/
	bottom: 0;
	content: '';
	left: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.first-call__wrap .container{
	position: relative;
	z-index: 2;
}
.first-call__text{
	color: #fff;
	font-size: 2rem;
	margin: 0;
}
.first-call__button {
	text-align: center;
	transform: translate(0%, 50%);
}
.first-call__button a {
	/*background-color: #F7C67F;*/
	color: #1A1A1A;
}
.map{
	position: relative;
	z-index: 0;
	display: block;
/*	margin: 0!important;
	padding: 0!important;
	text-align: left!important;
	text-decoration: none!important;
	color: #000;
	font-weight: 400!important;
	font-style: normal!important;
	line-height: normal;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-print-color-adjust: exact;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/

}
.contact-card_wrap{
	position: relative;
}
.contact-card{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0px 15px -5px rgb(10 10 10);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	position: absolute;
	right: 10%;
	top: 50px; 
	z-index: 5;
/*	padding: 2.3% 12px 3.5% 1.1%;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: inherit;*/
}

.services {padding-top: 40px;}
.services h2{
	margin-bottom: 2rem;
}
.services__item{
	background-color: #1a1a1a;
	border-radius: 10px;
	box-shadow: 0 0px 10px -5px rgb(10 10 10);
	color: #fff;
	margin-bottom: 30px;
	padding: 20px;
}
.services__item_large p{
	font-weight: 700;
	line-height: 1;
}
.services__item_list{
	list-style-type: none ;
	padding-left: 15px;
}
.services__item_list li{}
.services__item_list svg{
	color: #F7C67F;
	margin-right: 20px;
	width: 18px;
}
.services__item p{margin: 0;}
.services__item_b_text{font-size: 2rem;}
.services__item_button {text-align: center;
	color: #1a1a1a;
	transform: translate(0%, 0%);
}
.services__item_button a{
	/*background-color: #F7C67F;*/
	color: #1a1a1a;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.services__item_button a:hover {
	transform: scale(1.05);
}

.services__item_button a:before {
	background: linear-gradient(#F7C67F, #F7C67F, #F7C67F, #F9E6C9, #F7C67F, #F7C67F, #F7C67F, #F9E6C9, #F7C67F);
	background-position: 0 0;
	animation: background 2s infinite alternate;
	content: "";
	position: absolute;
	width: 100%;
	height: 475%;
	top: -185%;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
	left: 0%;
	z-index: -1;
	/*background: url(background.png) 0 0 repeat;*/
}
.price{box-shadow: 0 0px 15px -5px rgb(10 10 10);background: #F7C67F;padding: 20px;}
.price__wrap{background-color: #fff;border-radius: 10px;box-shadow: 0 0px 10px -5px rgb(10 10 10);}
.price .col-12{}
.price h2{margin-bottom: 0;padding: 20px;}
.difference{
	/*background-image: url(../img/fancy_deboss.png);*/
	box-shadow: 0 0px 15px -5px rgb(10 10 10);
	margin-top: 40px;
	padding: 20px 0;
	background: #F7C67F;
	position: relative;
}
.difference:after{
	background: #F7C67F;
	bottom: 0;
	/*content: '';*/
	left: 0;
	opacity: 0.8;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.difference .container{
	position: relative;
	z-index: 2;
}
.difference h2{
	margin-bottom: 1.5rem;
}
.difference__item {
	/*position: relative;*/
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0px 10px -5px rgb(10 10 10);
	margin: 20px 0;
	padding: 20px;
}
.difference__item h3{
	margin-bottom: 1rem;
}
.difference__item .shap{
	margin-bottom: 1rem;
}
.tett {
	padding: 15px;
}
/*.difference__item:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 10px;
	bottom: 0;
	background: #fff;
	opacity: 0.5;
	z-index: 1;
}
.difference__item .row{
	position: relative;
	z-index: 2;
}*/
.last-call__wrap{
	background-color: #1a1a1a;
	color: #fff;
	padding: 20px;
}
.last-call__button {text-align: center;}
.last-call__button a{
	background-color: #fff;
	color: #1a1a1a;
	transition: .3s;
	box-shadow: none;

}
.last-call__button a:hover{
	box-shadow: inset 0px 0px 10px 0 rgb(0 0 0);
}
.footer {
	color: #fff;
	padding-right: 20px;
}
/*.animation__button a{
	background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
	background-position: 0 0;
	animation: background 2s infinite alternate;
}
*/
@keyframes background {
	100% {
	background-position: 0 200px;
	}
}
.animation__button {}
.animation__button a:hover {
	transform: scale(1.2);
}
.animation__button a {
	position: relative;
	overflow: hidden;
}
.animation__button a:before {
	background: linear-gradient(#F7C67F, #F7C67F, #F7C67F, #F9E6C9, #F7C67F, #F7C67F, #F7C67F, #F9E6C9, #F7C67F);
	background-position: 0 0;
	animation: background 2s infinite alternate;
	content: "";
	position: absolute;
	width: 100%;
	height: 315%;
	top: -107%;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
	left: 0%;
	z-index: -1;
	/*background: url(background.png) 0 0 repeat;*/
}

@keyframes background {
	100% {
		background-position: 0 200px;
  }
}


/*media*/
@media (min-width: 1500px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1400px;
}
@media (min-width: 1900px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1600px;
}

